.add-btn {
    color: #fff;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: #639FAB;
    border: 3px solid #1C5D99;
}

.add-btn:hover {
    background-color: #578992;
}

.add-btn:active {
    background-color: #639fab;
}